body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #ffcd59;
}

.teams {
  width: 50%;
  height: 50px;
  justify-content: space-between;
}

.team {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffcd59;
  border: 1px solid #ccc;
}

.team-text {
  position: absolute;
  background-color: #ffcd59;
  padding: 10px;
  border: 1px solid #ddd;
  left: 50%;
  transform: translateX(50%);
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}
.team-text button {
    left: 10px;
    top: 20px;
}
.team-text button {
    right: 50px;
}


.dropdown-menu {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}
